/* ServicesCard.module.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6;  /* Blue color for the thumb */
    border-radius: 9999px; /* Fully rounded ends */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2563eb;  /* Darker blue when hovering */
  }
  